*{
        font-family: 'Poppins', sans-serif;
        margin:0; padding:0;
        box-sizing: border-box;
        outline: none; border:none;
        text-decoration: none;
        text-transform: capitalize;
        transition:all .2s linear;
        transition:width none;
    
}
.library-nav .nav-link{
    color: rgb(122, 19, 19);font-size: 25px;margin-left: 45px;
}
.library-nav{
    margin-top: 100px;
}
.library-nav span{
    text-decoration: none;
    background: none;
    color: rgb(211, 75, 75);font-weight: bold;font-size: 30px;
}
section{
    padding:1rem 1%;
}
#home .home-begin .quote{
    color: rgb(151, 6, 79);font-size: 35px;font-family: Bodoni MT Black;margin-top: 100px;
}
#home .home-begin a{
    text-decoration: none;color: rgb(210, 195, 195);background: none;
}

#about{
    padding-top: 40px;margin-top: 20px;
    background-image: url("image/banner-bg.jpg");
    background-size: cover;
    background-position: center;
    
}

#about .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

#about .row .content{
    flex:1 1 42rem;
}

#about .row .books-slider{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

#about .row .books-slider a img{
    height: 10rem;
}

#about .row .books-slider a:hover img{
    transform: scale(.9);
    transition: .2s linear;
}

#about .row .books-slider .stand{
    width:100%;
    margin-top: -2rem;
}

#about .row .content h3{
    color:rgb(214, 18, 18);
    font-size: 4.5rem;
    margin-left: 20px;
}
.icons-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:1.5rem;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding:2rem 0;
}

.icons-container .icons i{
    font-size: 2.5rem;
    color:rgb(201, 9, 9);
}

.icons-container .icons h3{
    font-size: 2.2rem;
    color:rgb(99, 25, 25);
    padding-bottom: .5rem;
}

.icons-container .icons p{
    font-size: 1.4rem;
    color:rgb(36, 48, 155);
}
#featured .heading{
   text-align: center;
   border-top: 2px solid rgb(70, 6, 6);
   color: rgb(71, 2, 2);
}